.reportContainer {
  padding: 0 8px;
}

.number {
  text-align: right;
  padding: 4px;
}

.text {
  margin: 4px;
}

.cell {
  border-style: dashed solid;
}

.bold {
  font-size: 1.5rem;
}

.disabled {
  background-color: #f0f0f0;
}
